/***** BLUE Keypad Skin *****/


body{
    margin:0;
    padding:0;
    overflow:hidden;
}

.container {
    padding:0px;
    background:#FAFAFA;
    
}

.header {
    padding: 5%;
    color:#ecf0f1;
    /*background:#c0392b;*/
    background:#34495E;
    font-weight:bold;
    /*font-size:1em;*/
    font-size:125%;
}

.display {
    padding:0;
    max-width:100%;
        
}

#scroll, #auxilary {
    margin:0 5%;
}

.mainDisplay {
    /*margin:0 5%;*/
    //max-width:90%;
    text-align:right;
    font-size:125%;
    color:#34495E;
    overflow:hidden;
    clear:both;
}

#scrollLeft , #scrollRight{
    width:5%;
    /*background:#ddd;*/
    visibility:hidden;
    text-align:center;
    color:#1E8BC3;
}

#mainDisplay {
    height:100%;
    overflow:hidden;
}

.displayCell {
    //height:100%;
    float:right;
    
    /*background:yellow;*/
    padding:3px;
    margin:0px;
    border:1px solid #FAFAFA;
    display:none;
}

.cursor {
    border-right:1px solid #1E8BC3;   
}

.visible {
    display:block;   
}

.mainDisplay>input{
    width:100%;
    height:100%;
    border:0;
    background:#FAFAFA;
    text-align:right;
}

.mainDisplay>input:focus{
    border:0;
    outline:0;
}


#mainDisplayOLD {
    margin:0 5%;
    max-width:90%;
    /*background:white; */ 
    text-align:right;
    /*height:15%;
    line-height:15%;*/
    /*font-size: 2 em;*/
    font-size:125%;
    color:#22313F;
    overflow-x:hidden;
}

.keypad {
    margin:0 auto;
        
    padding: 0px;
}

.controls{
    /*height:15%;*/
    background:#D2D7D3;
}



.cell {
    float:left;
    margin:0;
    padding:0;
    
}

.key {
    padding:0px;
    border-right:1px solid #1E8BC3;
    /*border-bottom:1px solid #1E8BC3;*/
    border-left:0;
    border-bottom:0;
    text-align:center;
    background:#19B5FE;
    color:#ecf0f1;
    
    cursor:pointer;
    cursor:hand;
    font-weight:bold;
    font-size:125%;
    
    border-right:1px solid white;
    border-top:1px solid white;
}

.key:focus {
    outline:none;   
    background:#59ABE3;
        
}

.controlKeys {
    /*background:#F7CA18;*/
    background:#2574A9;
    border-top:0;
    border-bottom:0;
    /*border-top-color:#22313F;*/
    border-right-color:#22313F;
    border-right-color:white;
    /*color:#2C3E50;*/
    color:#ECF0F1;
    /*font-size:0.75em;*/
    font-size:85%;
}

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

.historyItem {
    
    /*width:50%;*/
    /*display:none;*/
    /*float:left;*/
    border:0;
    /*border-right:1px solid white;
    border-top:1px solid white;*/
    border-top:1px solid white;
    /*background:#FAFAFA;*/
}

.index, .expression, .result {
    /*margin:2% 1%;
    height:96%;*/
    height:100%;
    float:left;
    text-align:left;
}

.index {
    width:10%;   
    background:#2574A9;
    text-align:center;
}

.expression {
    background:#1E8BC3;
    padding:0 2%;
    width:46%;
    /*text-align:left;*/
    overflow-x:hidden;
    /*border-left:1px solid white;
    border-right:1px solid white;*/
}

.result {
    padding:0 2%;
    width:36%;
    overflow-x:hidden;
    display:none;
}

.auxilaryData {
    float:left;
    width:30%;
    padding:1.5%;
    text-align:left;
    font-size:80%;
    text-transform:uppercase;
    overflow-x:hidden;
    color:#22A7F0;
}

#scroll {
    margin:1%;   
}